/*

     ▄█  ███▄▄▄▄   ████████▄     ▄████████ ▀████    ▐████▀ 
    ███  ███▀▀▀██▄ ███   ▀███   ███    ███   ███▌   ████▀  
    ███▌ ███   ███ ███    ███   ███    █▀     ███  ▐███    
    ███▌ ███   ███ ███    ███  ▄███▄▄▄        ▀███▄███▀    
    ███▌ ███   ███ ███    ███ ▀▀███▀▀▀        ████▀██▄     
    ███  ███   ███ ███    ███   ███    █▄    ▐███  ▀███    
    ███  ███   ███ ███   ▄███   ███    ███  ▄███     ███▄  
    █▀    ▀█   █▀  ████████▀    ██████████ ████       ███▄ 
                                                       
*/

/***************
     SLIDER 
***************/
.slick-prev {
    left: 4px;
    z-index:1000;
    font-size:5rem;
}

[dir='rtl'] .slick-prev {
    right: -50px;
    left: auto;
    
}

.slick-next
{
    right: 15px;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: -50px;
}

.slick-prev::before, .slick-next::before {
    font-size:3rem;
}

.slick-dots li.slick-active button::before {
    color:#950000;
}

.slick-dots li button::before {
    font-size:1.1rem;
}

/***************
     MENUS 
***************/
.special_menus figure {
    margin:0;
}

.special_menus ul {
    padding-left:0;
    margin-top:0;
}
.special_menus li:first-child {
    padding-top:0;
}

.special_menus li {
    padding:0.6rem 2rem;
    border-bottom:1px dashed black;
}

.special_menus i {
    color:#950000;
    padding-right:0.5rem;
    font-size:1rem;
}

.special_menus  {
    padding-bottom:1rem;
}

.more img {
    width:6%;
    margin-right:1.1rem;
}

.more {
    display: flex;
    align-items:center;
    justify-content:center;
    border-style:none;
    margin: auto auto;
    width: 90%;
    padding: 0.5rem;
    font-weight:bold;
    color: white;
    background-color: #4c4343;
    margin-bottom:2rem;
}

.more a {
    text-align:center;
}

/*
       ▄▄▄▄███▄▄▄▄      ▄████████ ███▄▄▄▄   ███    █▄  
     ▄██▀▀▀███▀▀▀██▄   ███    ███ ███▀▀▀██▄ ███    ███ 
     ███   ███   ███   ███    █▀  ███   ███ ███    ███ 
     ███   ███   ███  ▄███▄▄▄     ███   ███ ███    ███ 
     ███   ███   ███ ▀▀███▀▀▀     ███   ███ ███    ███ 
     ███   ███   ███   ███    █▄  ███   ███ ███    ███ 
     ███   ███   ███   ███    ███ ███   ███ ███    ███ 
      ▀█   ███   █▀    ██████████  ▀█   █▀  ████████▀  
                                                   
*/
/***************
     GENERAL 
***************/
.page_menu {
    background-color:transparent;
}

.page_menu p {
    text-align:center;
    font-size:1.5rem;
}

.page_menu h1 {
    font-size:2rem;
}

.page_menu h2 {
    margin-top:3rem;
}

/***************
    MIX it UP 
***************/
/* BUTTON */
.flex_button {
    display: flex;
    flex-direction:row;
    justify-content:center;
}

.menu_button {
    background-color: #ebe3db;
    color: black;
    margin:1rem 0.8rem;
    text-transform:uppercase;
    border: #ebe3db;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-size:1.5rem;
    margin-bottom:3rem;
}

.menu_button:hover {
    color:#fff;
	transition:0.7s;
	background-color:#950000;
}

.mixitup-control-active {
    background-color:#950000;
    color:white;
}

/* GRID */
.mix::before {
    padding:0;
}

.mix {
    border-top:none;
    margin-bottom:2.5rem;
    margin-right:0.4rem;
}

.page_menu figure {
    margin:0;
    -webkit-box-shadow: 16px 20px 52px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 52px -28px rgba(0,0,0,0.75);
    box-shadow: 16px 20px 52px -28px rgba(0,0,0,0.75);
}
.all_menus img {
    position:relative;
}

/***************
    OVERLAY 
***************/
.overlay {
    display:none;
    transform:scale(1);
}

.page_menu figure:hover .overlay{
    transform:scale(1.1);
    bottom:0;
    height:100%;
}

.page_menu>section:not(:first-child) .overlay {
    height:95%;
}

.overlay h2 {
    color:white;
    font-size:3rem;
}

.border img {
    width:13%;
    padding-top:6rem;
}

.overlay h2:before, .overlay h2:after {
    content:"";
}

.figure .img_menu{
    transition: 0.5s ease;
    -webkit-box-shadow: 16px 20px 52px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 52px -28px rgba(0,0,0,0.75);
    box-shadow: 16px 20px 52px -28px rgba(0,0,0,0.75);
}

.figure:hover .img_menu {
    transform:scale(1.1);
    z-index:1000;
}

/***************
Dessert and Cocktails 
***************/

.w_50 img {
    margin-top:1.5rem;
}
main>section:not(:first-child) .container {
    padding-top:1rem;
    padding-bottom:2rem;
}

.w_50 .border img {
    padding-top: 4rem;
}

.w_50 .border h2 {
    margin-top: 3rem;
}

/*

 ▄████████  ▄██████▄  ███▄▄▄▄       ███        ▄████████  ▄████████     ███     
███    ███ ███    ███ ███▀▀▀██▄ ▀█████████▄   ███    ███ ███    ███ ▀█████████▄ 
███    █▀  ███    ███ ███   ███    ▀███▀▀██   ███    ███ ███    █▀     ▀███▀▀██ 
███        ███    ███ ███   ███     ███   ▀   ███    ███ ███            ███   ▀ 
███        ███    ███ ███   ███     ███     ▀███████████ ███            ███     
███    █▄  ███    ███ ███   ███     ███       ███    ███ ███    █▄      ███     
███    ███ ███    ███ ███   ███     ███       ███    ███ ███    ███     ███     
████████▀   ▀██████▀   ▀█   █▀     ▄████▀     ███    █▀  ████████▀     ▄████▀   
                                                                                
*/
.page_contact p {
    text-align:center;
}

abbr {
    color:#950000;
    border-bottom:0.5px dotted #950000;
}

form {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
}

.resa, .details {
    width:42%;
}

.request {
    width:90%;
}

fieldset {
    border:none;
}

legend {
    font-family:'Merienda', sans-serif;
    font-size:2rem;
    font-weight:bolder;
    padding-top:2rem;
}

label {
    font-weight:bold;
    position:relative;
    font-size:1.4rem;
    left:-7px;
}

label:before {
    content:"*";
    color:#950000;
    position:relative;
    border-bottom:1px dotted #950000;
    left:-6px;
}

label[for=email]:before {
    content:"*";
    visibility:hidden;
}
 
input {
    display:inline-block;
    width:100%;
    font-size:1rem;
    border-radius:0.5em;
    border:thin solid #4c4343;
    font-family:Courier;
    padding:0.5rem;
    margin-bottom:1rem;
}


textarea {
    display:block;
    height:110px;
    width:99.5%;
    margin-top:10px;
    border-radius:0.5rem;
    margin-top:0;
    border:0.5px solid #4c4343;
}

form button {
    background-color:#4c4343;
    border: 1px solid #4c4343;
    font-weight:bold;
    border-radius:5px;
    color:white;
    text-transform:uppercase;
    padding:0.3rem 0;
    width:30%;
    margin-top:1rem;
    margin-bottom:2rem;
    cursor:pointer;
}

form button:hover {
    background-color:#ebe3db;
    border: 1px solid #4c4343;
    color:#4c4343;
}

#map {
    height:20rem;
    border:1px solid grey;
    cursor:grab;
}

/*
   ▄████████ ▀█████████▄   ▄██████▄  ███    █▄      ███     
  ███    ███   ███    ███ ███    ███ ███    ███ ▀█████████▄ 
  ███    ███   ███    ███ ███    ███ ███    ███    ▀███▀▀██ 
  ███    ███  ▄███▄▄▄██▀  ███    ███ ███    ███     ███   ▀ 
▀███████████ ▀▀███▀▀▀██▄  ███    ███ ███    ███     ███     
  ███    ███   ███    ██▄ ███    ███ ███    ███     ███     
  ███    ███   ███    ███ ███    ███ ███    ███     ███     
  ███    █▀  ▄█████████▀   ▀██████▀  ████████▀     ▄████▀   
                                                            
*/
.page_about p {
    text-align:inherit;
}

video {
    max-width:100%;
}

.page_about article {
    padding:2rem 1rem;
    display:flex;
    flex-flow:row wrap;
}

.page_about figure {
    margin:0;
    width:100%;
}

.page_about figcaption {
    text-align:center;
}

.page_about img {
    transition: 0.5s ease;
    -webkit-box-shadow: 16px 20px 52px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 52px -40px rgba(0,0,0,0.75);
    box-shadow: 16px 20px 52px -40px rgba(0,0,0,0.75);
}

.page_about img:hover {
    transform:scale(1.05);
    transition: 0.5s ease;
}
/* *****************************************************************
							RESPONSIVE
***************************************************************** */

/***************
    Tablette 
***************/
@media screen and (min-width: 780px) {
    
    .more {
    	padding:1rem;
	}
	
	.more img {
	    width:4%
	}
	
	.overlay {
	    display:none;
	}
	
	#map {
        height:30rem;
    }
    
    .page_about figure {
        width:50%;
        width: 47%;
        margin: 1rem 1rem;
    }
    
    video {
        display:block;
        margin:0 auto;
    }

}

/***************
    DESKTOP 
***************/
@media screen and (min-width: 980px) {
    .slick-dots li button::before {
        color:#950000;
    }
    
    .more img {
	    width:6%
	}
    
    .welcome {
        display:flex;
        flex-wrap:wrap;
        flex-direction:row-reverse;
    }
    
    .welcome h1 {
        display:flex;
        justify-content:center;
        width:100%;
        padding-bottom:1em;
        font-size:3rem;
    }
    
    h1:before, h1:after{
    	top:1.6rem;
    }
    
    .welcome article {
        width: 55%;
        padding-right:2em;
        padding-top:0;
    }
    
    .welcome article p {
        margin-top:0;
    }
    
    .welcome img {
        width:45%;
    }
    
    .section_menu {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }
    
    .section_menu h2 {
        padding-top:4rem;
        display:flex;
        justify-content:center;
        width:100%;
        font-size:2.5rem;
    }
    
    h2:before, h2:after {
    	top:1.3rem;
    }
    
    .special_menus {
        width:32%;
    }
    
    .special_menus {
        font-size:2rem;
    }
    
    .overlay h3 {
        color:white;
        font-size:5rem;
        font-family: 'Athiti', sans-serif;
        padding-top:5rem;
        margin-bottom:0;
        font-weight:bold;
    }
    
    .figure {
        position:relative;
    }

    .flip-card {
        background-color: transparent;
        perspective: 1000px;
    }

    .flip-card-inner {
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card-back {
        background-image: url(../img/general/meat-menu.jpg) no-repeat;
    }

    .overlay {
        display:block;
        position: absolute; 
        bottom: 6px; 
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        height:98.3%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 2.5rem;
        text-align: center;
        font-weight: bold;
        line-height: 10px;
    }
    
    .border {
        opacity:0;
        width:100%;
        height:100%;
        transition: .5s ease;
        border:5px solid white;
        background: transparent;
        transition: .5s ease;
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .figure:hover .overlay {
        opacity:1;
        z-index:1001;
        transform: rotateY(180deg);
    }
    
    .figure:hover .border {
        opacity:1;
        z-index:1001;
    }
    
    /*****************
        PAGE MENU
    *****************/
    .page_menu p {
        font-size:1.6rem;
    }
    
    .page_menu h1:before, .page_menu h1:after {
        top:-6px;
    }
    
    .page_menu h1 {
        font-size:3rem;
    }
    
    .page_menu h2:before, .page_menu h2:after {
        top:-0.3rem;
    }
    
    .page_menu h2 {
        margin-top:4rem;
        margin-bottom:0;
    }
    
    .menu_button {
        font-size: 1.7rem;
        margin:0 1.5rem;
        margin-bottom:3rem;
        padding: 0.5rem 1.8rem;
    }
    
    /*****************
       PAGE CONTACT
    *****************/
    .page_contact h1:before, .page_contact h1:after{
        top:-3px;
    }
    
    .page_contact article {
        width:60%;
        margin-left:auto;
        margin-right:auto;
    }
    
    label {
        font-size:1.6rem;
    }
    
    input {
        padding:1rem;
    }
    
    select {
        padding-top:3px;
        padding-bottom:8px
    }
    
    input, select {
        font-size:1.4rem;
    }
    
    #map {
        height:40rem;
    }
    
    .page_about h1, .page_contact h1 {
        font-size:3rem;
    }
    
    .page_about h1:before, .page_about h1:after, .page_contact h1:before, .page_contact h1:after {
        top:-0.7rem;
    }
    
    .page_about h2:before, .page_about h2:after, .page_contact h2:before, .page_contact h2:after {
        top:-0.5rem;
    }
    
    .page_contact h2, .page_about h2 {
        margin-top:2rem;
        font-size:2.5rem;
    }
}